#block-drupal8-w3css-subtheme-branding img{
    width: 30%;
    margin-left: 6%;
}

.site-name-slogan a{
    margin-left: -100%;
    margin-top: 15%;
}

#photo-pokedex{
    position: relative;
}

#photo-pokemon{
    position: absolute;
    width: 18%;
    top: 62%;
    left: 11%;
}

#name-pokemon, #pokemons{
    position: absolute;
    font-size: 100%;
    left: 14.1%;
    bottom: -11.5%;
}

#details{
    position: absolute;
    left: 35%;
    bottom: 11%;
}

span{
    display: flex;
    font-size: 75%;
    width: auto;
}

span h6{
    font-weight: bold;
    margin: 0% 6% 0% 0%;
}

span p{
    margin: 3% 0% 0% 0%;
}

span ul{
    margin: 0%;
}

#copyright-inner p{
    color: black;
}