#block-drupal8-w3css-subtheme-branding img{
    width: 100px;
    margin-left: 6px;
}

.site-name-slogan a{
   margin-top: 35px;
}

#block-drupal8-w3css-subtheme-account-menu a{
    margin-top: 48px;
}

#photo-pokedex{
    position: relative;
}

#all-pokemons{
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    margin-left: 55px;
    margin-top: -340px;
}

.button-poke{
    border: none;
    background-color: white;
    font-size: 10px;
    text-align: start;
}

.button-poke:hover{
    background-color: #fb0506;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
    color: white;
}

#photo-pokemon{
    position: absolute;
    width: 18%;
    top: 62%;
    left: 11%;
}

#name-pokemon, #pokemons{
    position: absolute;
    font-size: 16px;
    margin-top: -61px;
    margin-left: 76px;
}

#details{
    position: absolute;
    margin-left: 320px;
    margin-top: -340px;
}

span{
    display: flex;
    width: auto;
    font-size: 15px;
}

span h6{
    font-weight: bold;
    margin: 0px 6px 0px 0px;
}

span p{
    margin: 3px 0px 0px 0px;
}

span ul{
    margin: 0px;
}

#copyright-inner p{
    color: black;
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}